<%= form_with model: @courses, method: 'get', url: course_path(params[:id]) do %>
<div class="grid-container">
   <br>     
<div>
    <b><%= label_tag "Filter by Priority:" %></b>
    <%= check_box_tag 'previous_priority[]', "Low" %>Low         
    <%= check_box_tag 'previous_priority[]', "Medium" %>Medium
    <%= check_box_tag 'previous_priority[]', "High" %>Urgent
    <%= submit_tag 'Apply filter', :id => "filter-tag-previous" %>
</div><br>

<div>
<% end %>